.MainPage {
    background-color: #EEF3FB;
}

.Wrapper {
    width: 527px;
    height: 100vh;
    box-shadow: 
    10px 0 20px rgba(0,0,0,0.15),
    -10px 0 20px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.main {
    flex: 1;
  position: relative;
    display: flex;
  flex-direction: column;
  justify-content: flex-end;
}